.content{
	height: 5.78rem;
	overflow: auto;
}
.more{
	background: #fafafa;
	color: black;
	font-size: 0.14rem;
	text-align: center;
	line-height: .48rem;
	height: .48rem;
}
.phone,.pc,.no,.top{
	font-size: 0.12rem;
}
