.cityBox{
	background: white;
	display: none;
	height: 5.78rem;
	width: 3.75rem;
	position: absolute;
	top: 0.45rem;
	overflow: auto;
}
.cities-header{
	height: 0.26rem;
	border-top:1px solid #e8e8e8 ;
	font-size: .16rem;
	color: #888888;
	text-align: left;
	padding-left: 0.16rem;
}
.cities-list{
	border-top:1px solid #e8e8e8 ;
	width: 3.75rem;
}
.cities-list-item{
	display: flex;
	flex-direction:row;
	flex-flow:wrap;
	justify-content:flex-start;
	height: 100%;
	width: 3.75rem;
}
.cities-item{
	height: 0.6rem;
	line-height:.6rem;
	width: 1.25rem;
}

