#footer{
	height: 0.46rem;
	border-top:1px solid #e8e8e8 ;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	line-height: 0.46rem;
	background: #f6f6f6;
	z-index: 5;
}
.footerCBB{
	flex: 1;
}
.footerCB{
	display: flex;
	flex-direction:row;
	font-size: 0.16rem;
	flex: 1;
	justify-content:center;
	color: #c2cfcc;
}
.footerCB p{
	margin: 0;
}
.active{
	background: #e7f3f0;
	color:#00B38A;
}
